/* get from http://work.smarchal.com/twbscolor/css/1b3d6d1b3d6dfffff0ffd2001 */
.navbar-default {
  background-color: #1b3d6d;
  border-color: #1b3d6d;
}
.navbar-default .navbar-brand {
  color: #fffff0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: /*#ffd200*/ chocolate;
}
.navbar-default .navbar-text {
  color: #fffff0;
}
.navbar-default .navbar-nav > li > a {
  color: #fffff0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: /*#ffd200*/ chocolate;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #1b3d6d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fffff0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: /*#ffd200*/ chocolate;
  background-color: #1b3d6d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #1b3d6d;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: /*#ffd200*/ chocolate;
  background-color: #1b3d6d;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: /*#ffd200*/ chocolate;
  background-color: #1b3d6d;
}
.navbar-default .navbar-toggle {
  border-color: #1b3d6d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1b3d6d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fffff0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fffff0;
}
.navbar-default .navbar-link {
  color: #fffff0;
}
.navbar-default .navbar-link:hover {
  color: /*#ffd200*/ chocolate;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fffff0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: /*#ffd200*/ chocolate;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: /*#ffd200*/ chocolate;
    background-color: #1b3d6d;
  }
}